{% extends "home/base.html" %}
{% load static %}
{% block title %}Shopping Cart |{% endblock %}
{% block content %}

  <!-- Start Banner Area -->
  <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
{% if messages %}
    {% for message in messages %}
        <div class="row justify-content-center">
            <div class="col-5 mt-3">
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}    
{% endif %}
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load cart_extras %}
                        {% for item in products.values %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img class="img-fluid rounded-3 " style="width: 70px;" src="{{ item.image.url }}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>{{ item.title |truncatechars:'40'|default:"Product Title" }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>${{item.price |default:0}}.00</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst"  value="{{item.quantity}}" title="Quantity:"
                                            class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <h5>${{ item.price|multiply:item.quantity|default:0 }}.00</h5>
                                </td>
                                <td>
                                    <a
                                        name=""
                                        id=""
                                        class="btn btn-danger rounded-2 btn-sm"
                                        href="{% url 'remove_from_cart' item.id %}"
                                        role="button"
                                        ><i class="lnr lnr-trash"></i></a
                                    >
                                    
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <h5>Total</h5>
                            </td>
                            <td>
                                <h5>${{ total|default:0 }}.00</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{% url 'shop_products' %}">Continue Shopping</a>
                                    <a class="primary-btn" href="{% url 'shop_checkout' %}">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->


{% endblock %}