{% extends "dashboard/admin_dashboard.html" %}
{% load static %}
{% block title %}
Blog
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Blog 
                        <a href="{% url 'blog_create' %}" class="btn btn-secondary btn-sm rounded-pill">
                            <i class="fas fa-plus"></i>
                        </a>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                {% if blogs %}
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sno</th>
                                                <th>Image</th>
                                                <th>Title</th>
                                                <th>Category</th>
                                                <th>Tags</th>
                                                <th>Created At</th>
                                                <th>Updated At</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for blog in blogs %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    <img
                                                        src="{{ blog.image.url }}"
                                                        class="img-fluid rounded"
                                                        alt=""
                                                    />
                                                </td>
                                                <td>{{ blog.title|truncatechars:20 }}</td>
                                                <td>{{ blog.category }}</td>
                                                <td>{{ blog.tags }}</td>
                                                <td>{{ blog.created_at }}</td>
                                                <td>{{ blog.updated_at }}</td>
                                                <td>
                                                    <a href="{% url 'blog_update' blog.id %}" class="btn btn-primary btn-sm rounded-pill">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger btn-sm rounded-pill">
                                                        <i class="fas fa-trash"></i>    
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <h4 class="text-center text-info">No Blogs Found</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}